/* font */
@font-face {
    font-family: 'bakeryRecipe';
    src: url('/fonts/Cream Cake.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: whitesmoke;
    z-index: 1;
   
}

p{
    line-height: 2;
}
main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer{
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.ads{
    position: fixed;
    top: 130px;
    right: 0;
    width: 20%;
    height: 90%;
    background-color: #cd6858;;
}

/* Search */
.Searchbox{
    position: relative;
    display: flex;
    padding: 25px;
    align-items: center;
    width: 100%;
    margin: 0;
}

.title{
    font-family: 'bakeryRecipe', cursive;
    font-size: 80px;
    margin: auto;
}   

.search-input{
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    width: 200px;
}

.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 57px;
    left: 200px;
}


footer ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.caption a{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: Black;
}

.caption a:hover{
    color: #cd6858;
}


h1 {
    font-size: 100px;
    font-weight: 300;
    margin: 50px 50px;
    font-family: 'bakeryRecipe', cursive;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 20px;
}

section{
    width: 70%;
}
section ul li::marker{
    color: #cd6858;
}

section ul li{
    margin: 20px 0;
}


.item {
    position: relative;
    display: flex;
    margin: 20px 0;
}

.item-img {
    display: block;
    width: 40%;
    height: auto;
}

.caption {
    display: block;
    text-align: left;
    margin: 0 25px;
}


/* Chatbox */
.chatbox-bg {
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
}

.chatbox-img {
    margin: auto;
    width: 50%; 
}

a img{
    width: 30px;
    height: 30px;
}

.overallTime{
    border: 1px solid black;
    border-top: 10px solid #cd6858;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    margin: 50px 0;
    font-size: 18px; 
    width: 40%;
}

.overallTime ul{
    list-style-type: none;
    padding: 0;
}

.time-title{
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.navigation {
    position: absolute;
    padding: 8px 20px 8px 40px;
    border-radius: 40px;
    border: 2px solid #cd6858;
    left: -120px;
    top: 0px;
    transition: left 1s ease;
}

.navigation a{
    color: #cd6858;
}

.navigation:focus, .navigation:hover {
    transition: left 3s ease;
    left: -40px;
}