/* font */
@font-face {
    font-family: 'bakeryRecipe';
    src: url('/fonts/Cream Cake.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: whitesmoke;
    z-index: 1;
   
}

p{
    width: 60%;
    line-height: 2;
}
main {
    margin-top: 150px;
    text-align: center;
}

footer{
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    z-index: 1;
}

/* Search */
.Searchbox{
    position: relative;
    display: flex;
    padding: 25px;
    align-items: center;
    width: 100%;
    margin: 0;
}

.title{
    font-family: 'bakeryRecipe', cursive;
    font-size: 80px;
    margin: auto;
}   

.search-input{
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    width: 200px;
}

.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 57px;
    left: 200px;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.caption a{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: Black;
}

.caption a:hover{
    color: #cd6858;
}
a img{
    width: 30px;
    height: 30px;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0;
    
}

h2{
    font-family: 'bakeryRecipe', cursive;
    font-size: 40px;
    font-weight: bold;
}
.accent {
    font-size: 60px;
    display: block;

}    
.item {
    position: relative;
    display: flex;
    margin: 20px 0;
}

.item-img {
    display: block;
    width: 40%;
    height: auto;
}

.caption {
    display: block;
    text-align: left;
    margin: 0 25px;
}

.img-banner { 
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
}

button {
    align-self: center;
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/* Chatbox */
.chatbox-bg {
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
}

.chatbox-img {
    margin: auto;
    width: 50%; 
}

.ads{
    position: fixed;
    top: 130px;
    right: 0;
    width: 20%;
    height: 90%;
    background-color: #cd6858;;
}